<html>
<head>
	<title>Display</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">


<script src="static/js/editablegrid.js"></script>
<script src="static/js/editablegrid_renderers.js" ></script>
<script src="static/js/editablegrid_editors.js" ></script>
<script src="static/js/editablegrid_validators.js" ></script>
<script src="static/js/editablegrid_utils.js" ></script>
<script src="static/js/editablegrid_charts.js" ></script>
<script src="static/js/common.js" ></script>
<link rel="stylesheet" href="static/css/editablegrid.css" type="text/css" media="screen">

<style>
<!--
    body { font-family:'lucida grande', tahoma, verdana, arial, sans-serif; font-size:12px; }
    h1 { font-size: 15px; }
    a { color: #548dc4; text-decoration: none; }
    a:hover { text-decoration: underline; }
-->
    table.testgrid { border-collapse: collapse; border: 1px solid #CCB; width: 800px; }
    table.testgrid td, table.testgrid th { padding: 5px; border: 1px solid #E0E0E0; }
    table.testgrid th { background: #E5E5E5; text-align: left; }
    input.invalid { background: red; color: #FDFDFD; }
</style>


<style>
.chartdiv {
        width       : 100%;
        height      : 700px;
        font-size   : 11px;
}           
</style>
<body>
<div id="tablecontent"></div>
<p>外國勞工薪水試算
<p>基本月工作天數: 當月天數 - 當月休息天數
<p>早班天數: 該員上早班之天數
<p>晚班天數: 該員上晚班之天數
<p>月總工作時數: 該員當月總上班時數 (全部藍條,黃條,綠條時數之總和)
<p>基本月工作時數: 該員當月基本上班時數 (全部藍條之總和,該時數必須大於等於基本月工作時數)
<p>加班1時數: 該員當月超過基本月工作時數 權重為1 之時數 (超過基本月工作時數之藍條總和, 納入公休加班費)
<p>加班1.34時數: 該員當月超過基本月工作時數 權重為1.34 之時數 (全部黃條總和, 納入公休加班費)
<p>加班1.67時數: 該員當月超過基本月工作時數 權重為1.67 之時數 (全部綠條總和, 納入公休加班費)

</body>
<script>
    var qq = {{ backend_data | tojson | safe }};
    
    for (i = 0; i < qq.length; ++i) {

        $("body").append("\
<table class='table table-bordered'>\
    <thead>\
        <tr>\
            <th>姓名</th>\
            <th>基本月工作天數</th>\
            <th>公休(日)</th>\
            <th>早班天數</th>\
            <th>晚班天數</th>\
            <th>月總工作時數</th>\
            <th>基本月工作時數</th>\
            <th>加班1時數</th>\
            <th>加班1.33時數</th>\
            <th>加班1.67時數</th>\
            <th>月總加班時數</th>\
        </tr>\
    </thead>\
    <tbody>\
        <tr>\
            <td id=name_block{0}></td>\
            <td id=base_working_days{1}></td>\
            <td id=rest_days{2}></td>\
            <td id=mor{3}></td>\
            <td id=nig{4}></td>\
            <td id=tot_hrs{5}></td>\
            <td id=tot_base_hrs{6}></td>\
            <td id=extra1{7}></td>\
            <td id=extra134{8}></td>\
            <td id=extra167{9}></td>\
            <td id=extra_total{10}></td>\
        </tr>\
    </tbody>\
</table>\
<p>\
\
<table class='table table-bordered'>\
    <thead>\
        <tr>\
            <th>本薪</th>\
            <th>仲介費</th>\
            <th>勞保費</th>\
            <th>健保費</th>\
            <th>食宿費</th>\
            <th>早餐津貼</th>\
            <th>大夜津貼</th>\
            <th>額外加給</th>\
            <th>所得稅</th>\
            <th>借金</th>\
            <th>月薪(總和)</th>\
            <th>上月未結清加班費</th>\
            <th>本月未結清加班費</th>\
        </tr>\
    </thead>\
        <tr>\
            <td id=sal_per_month{11}></td>\
            <td id=agency_fee{12}></td>\
            <td id=labor_fee{13}></td>\
            <td id=insurance_fee{14}></td>\
            <td id=accommodation_fee{15}></td>\
            <td id=breakfirst_fee_per_month{16}></td>\
            <td id=meal_fee{17}></td>\
            <td id=extra_bonus{18}></td>\
            <td id=tax{19}></td>\
            <td id=borrowing{20}></td>\
            <td id=final_sal{21}></td>\
            <td id=unpiad_last{22}></td>\
            <td id=unpiad{23}></td>\
        </tr>\
    <tbody>\
    </tbody>\
</table>\
".format(i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i));

        $("body").append("<div id=chartdiv_hrs" + i + " class=chartdiv></div>");
        $("body").append("<div id=chartdiv_sal" + i + " class=chartdiv></div>");
        //console.log("i = " + i);
        //console.log(qq[i]); 
        var chart1 = AmCharts.makeChart("chartdiv_hrs" + i, {
            "type": "serial",
            "theme": "light",
            "legend": {
                "horizontalGap": 10,
                "maxColumns": 1,
                "position": "right",
                "useGraphSettings": true,
                "markerSize": 10
            },
            "dataProvider": qq[i]['day'],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.5,
                "gridAlpha": 0.05
            }],
            "graphs": [{
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "基本時數",
                "type": "column",
                "color": "#000000",
                "valueField": "base"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "加班 x 1.34",
                "type": "column",
                "color": "#000000",
                "valueField": "base134"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "加班 x 1.67",
                "type": "column",
                "color": "#000000",
                "valueField": "base167"
            }],
            "rotate": true,
            "categoryField": "day",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            },
            "export": {
                "enabled": false
             }
        });
        
        var chart2 = AmCharts.makeChart("chartdiv_sal" + i, {
            "type": "serial",
            "theme": "light",
            "legend": {
                "horizontalGap": 10,
                "maxColumns": 1,
                "position": "right",
                "useGraphSettings": true,
                "markerSize": 10
            },
            "dataProvider": qq[i]['sal'],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.5,
                "gridAlpha": 0.05
            }],
            "graphs": [{
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "基本日薪（含夜津)",
                "type": "column",
                "color": "#000000",
                "valueField": "base"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "加班 x 1.34",
                "type": "column",
                "color": "#000000",
                "valueField": "base134"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "加班 x 1.67",
                "type": "column",
                "color": "#000000",
                "valueField": "base167"
            }],
            "rotate": true,
            "categoryField": "day",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            },
            "export": {
                "enabled": false
             }
        });

    
    }
    
    $(function() {
        console.log("jquery load");
        var qq = {{ backend_data | tojson | safe }};
        for (i = 0; i < qq.length; ++i) {
            //console.log('set name' + i); 
            $('#name_block' + i).text(qq[i]['name']);        
            $('#base_working_days' + i).text(qq[i]['base_working_days']);
            $('#rest_days' + i).text(qq[i]['rest_days']);
            $('#mor' + i).text(qq[i]['mor']);
            $('#nig' + i).text(qq[i]['nig']);
            $('#tot_hrs' + i).text(qq[i]['total_hrs']);
            $('#tot_base_hrs' + i).text(qq[i]['total_base_hrs']);
            $('#extra1' + i).text(qq[i]['extra_hrs']);
            $('#extra134' + i).text(qq[i]['total_overtime_1_hrs']);
            $('#extra167' + i).text(qq[i]['total_overtime_2_hrs']);
            $('#extra_total' + i).text(qq[i]['extra_working_hrs']);
            $('#sal_per_month' + i).text(qq[i]['sal_per_month']);
            $('#agency_fee' + i).text(qq[i]['agency_fee']);
            $('#labor_fee' + i).text(qq[i]['labor_fee']);
            $('#insurance_fee' + i).text(qq[i]['insurance_fee']);
            $('#accommodation_fee' + i).text(qq[i]['accommodation_fee']);
            $('#breakfirst_fee_per_month' + i).text(qq[i]['breakfirst_fee_per_month']);
            $('#meal_fee' + i).text(qq[i]['meal_fee']);
            $('#extra_bonus' + i).text(qq[i]['extra_bonus']);
            $('#tax' + i).text(qq[i]['tax']);
            $('#borrowing' + i).text(qq[i]['borrowing']);
            $('#final_sal' + i).text(qq[i]['final_sal']);
            $('#unpiad_last' + i).text(qq[i]['unpiad_last']);
            $('#unpiad' + i).text(qq[i]['unpiad']);
        }
        
//        var gg = {{ test | tojson | safe }};
//        console.log(JSON.stringify(gg)); 
        //console.log(JSON.stringify({{ test | tojson }})); 
        
        editableGrid = new EditableGrid("DemoGridJSON");
        console.log(editableGrid);
        editableGrid.load({{ test | tojson }});
        //editableGrid.tableLoaded = function() { 
        //    console.log("Table loaded");
        editableGrid.renderGrid("tablecontent", "testgrid"); 
        //};

        //editableGrid.loadJSON(gg);
        
    });
    


</script>

</html>
